<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="loginCa">Login Candidato</a></li>
          <li><a href="login">Login Empresa</a></li>
        </ul>

      <ul id="nav-mobile" class="sidenav">
          <li><a href="home">Home</a></li>
        <li><a href="op-cad">Cadastre-se</a></li>
        <li><a href="lista-vagas">Lista Vagas</a></li>
      </ul>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">i@Empregos</h1>
      <div class="row center">
        <h5 class="header col s12 light">Procure a sua oportunidade aqui sendo empresa ou candidato</h5>
      </div>
      <div class="row center">
        <a href="op-cad" id="download-button" class="btn-large waves-effect waves-light orange">Iniciar</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Desenvolvimento</h5>

            <p class="light">Fizemos a maior parte do trabalho pensando em você .</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">O grupo</h5>

            <p class="light"> Pensamos na xperiência do usuário focada
              Ao utilizar elementos e princípios do Materialize .</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Utilização</h5>

            <p class="light">Fácil de trabalhar
              Fornecemos documentação detalhada, bem como exemplos de códigos específicos para ajudar novos usuários a começar.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Projeto</h5>
          <p class="grey-text text-lighten-4">Somos estudantes da Universidade positivo trabalhando nesse projeto</p>


        </div>
       
        <div class="col l3 s12">
          <h5 class="white-text">opções</h5>
          <ul>
            <li><a class="white-text" href="cadastro">Cadastrar</a></li>
            <li><a class="white-text" href="login">Login</a></li>
            <li><a class="white-text" href="listar-empresa">Listar</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Feita por <a class="orange-text text-lighten-3" href="http://materializecss.com">Bina e Modelli</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
