<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="loginCa">Login Candidato</a></li>
          <li><a href="login">Login Empresa</a></li>
        </ul>

      <ul id="nav-mobile" class="sidenav">
          <li><a href="home">Home</a></li>
        <li><a href="op-cad">Cadastre-se</a></li>
        <li><a href="lista-vagas">Lista Vagas</a></li>
      </ul>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <!-- <br><br>
      <h1 class="header center orange-text">i@Empregos</h1>
      <div class="row center">
        <h5 class="header col s12 light">Procure a sua oportunidade aqui sendo empresa ou candidato</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Iniciar</a>
      </div>
      <br><br> -->

    </div>
  </div>


  <div class="container">
    <div class="section">

      <form [formGroup]="form" (submit)="salvar()">
        <h2>Cadastro Vaga</h2>
        <div>
          <mat-form-field>
            <input matInput placeholder="Nome" [formControl]="nome" maxlength="500" required>
            <mat-error *ngIf="nome.invalid">Campo obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width:50%;">
            <input matInput placeholder="Descrição" [formControl]="descricao" maxlength="5000" required>
            <mat-error *ngIf="descricao.invalid">Campo obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Salário" [formControl]="salario" required>
            <mat-error *ngIf="salario.invalid">Campo obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <button type="button" mat-raised-button (click)="cancelar()">Cancelar</button>
        <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary">Salvar</button>
      </form>
  </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Projeto</h5>
          <p class="grey-text text-lighten-4">Somos estudantes da Universidade positivo trabalhando nesse projeto</p>


        </div>
       
        <div class="col l3 s12">
          <h5 class="white-text">opções</h5>
          <ul>
            <li><a class="white-text" href="cadastro">Cadastrar</a></li>
            <li><a class="white-text" href="login">Login</a></li>
            <li><a class="white-text" href="listar-empresa">Listar</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Feita por <a class="orange-text text-lighten-3" href="http://materializecss.com">Bina e Modelli</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
